@model IEnumerable<TaskManagementSystem.Models.TaskPlanned>
@{
    ViewData["Title"] = "Tasks";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - TaskManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/TaskManagementSystem.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var taskId = button.data('id'); // Extract info from data-* attributes
            var taskTitle = button.data('title');

            var modal = $(this);
            modal.find('.modal-body #taskTitle').text(taskTitle); // Ensure taskTitle is not empty or null
            modal.find('.modal-footer form').attr('action', '@Url.Action("DeleteConfirmed", "Task")/' + taskId); // Ensure this is setting the correct URL
        });
    });
</script>

</body>
<h2 xmlns="http://www.w3.org/1999/html">@ViewData["Title"]</h2>
<a asp-action="Create" class="btn-primary">Create New Task</a>
<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Deadline</th>
        <th>Priority</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var taskPlanned in Model)
    {
        <tr>
            <td>@taskPlanned.Title</td>
            <td>@taskPlanned.Description</td>
            <td>@taskPlanned.Deadline</td>
            <td>@taskPlanned.Priority</td>
            <td> <a asp-action="Edit" asp-route-id="@taskPlanned.Id" class="btn btn-warning">Edit</a></td>
            <td> <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-id="@taskPlanned.Id" data-title="@taskPlanned.Title">Delete</a> </td>
        </tr>
    }
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete <strong id="taskTitle"></strong>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form asp-action="DeleteConfirmed" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </tbody>
</table>